<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ea441f24795640a0b3bd4953eea62011" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ea441f24795640a0b3bd4953eea62011 = echarts.init(
            document.getElementById('ea441f24795640a0b3bd4953eea62011'), 'white', {renderer: 'canvas'});
        var option_ea441f24795640a0b3bd4953eea62011 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u786e\u8bca\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "01.01",
                    67
                ],
                [
                    "01.02",
                    65
                ],
                [
                    "01.03",
                    78
                ],
                [
                    "01.04",
                    89
                ],
                [
                    "01.05",
                    66
                ],
                [
                    "01.06",
                    90
                ],
                [
                    "01.07",
                    89
                ],
                [
                    "01.08",
                    81
                ],
                [
                    "01.09",
                    131
                ],
                [
                    "01.10",
                    134
                ],
                [
                    "01.11",
                    102
                ],
                [
                    "01.12",
                    179
                ],
                [
                    "01.13",
                    184
                ],
                [
                    "01.14",
                    173
                ],
                [
                    "01.15",
                    169
                ],
                [
                    "01.16",
                    166
                ],
                [
                    "01.17",
                    169
                ],
                [
                    "01.18",
                    232
                ],
                [
                    "01.19",
                    165
                ],
                [
                    "01.20",
                    223
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6cbb\u6108\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "01.01",
                    119
                ],
                [
                    "01.02",
                    72
                ],
                [
                    "01.03",
                    63
                ],
                [
                    "01.04",
                    63
                ],
                [
                    "01.05",
                    94
                ],
                [
                    "01.06",
                    98
                ],
                [
                    "01.07",
                    82
                ],
                [
                    "01.08",
                    74
                ],
                [
                    "01.09",
                    89
                ],
                [
                    "01.10",
                    67
                ],
                [
                    "01.11",
                    82
                ],
                [
                    "01.12",
                    88
                ],
                [
                    "01.13",
                    97
                ],
                [
                    "01.14",
                    75
                ],
                [
                    "01.15",
                    81
                ],
                [
                    "01.16",
                    67
                ],
                [
                    "01.17",
                    51
                ],
                [
                    "01.18",
                    61
                ],
                [
                    "01.19",
                    69
                ],
                [
                    "01.20",
                    59
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5883\u5916\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "01.01",
                    14
                ],
                [
                    "01.02",
                    16
                ],
                [
                    "01.03",
                    20
                ],
                [
                    "01.04",
                    16
                ],
                [
                    "01.05",
                    9
                ],
                [
                    "01.06",
                    11
                ],
                [
                    "01.07",
                    16
                ],
                [
                    "01.08",
                    16
                ],
                [
                    "01.09",
                    21
                ],
                [
                    "01.10",
                    18
                ],
                [
                    "01.11",
                    13
                ],
                [
                    "01.12",
                    8
                ],
                [
                    "01.13",
                    14
                ],
                [
                    "01.14",
                    9
                ],
                [
                    "01.15",
                    15
                ],
                [
                    "01.16",
                    13
                ],
                [
                    "01.17",
                    16
                ],
                [
                    "01.18",
                    12
                ],
                [
                    "01.19",
                    15
                ],
                [
                    "01.20",
                    18
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u786e\u8bca\u4eba\u6570",
                "\u6cbb\u6108\u4eba\u6570",
                "\u5883\u5916\u4eba\u6570"
            ],
            "selected": {
                "\u786e\u8bca\u4eba\u6570": true,
                "\u6cbb\u6108\u4eba\u6570": true,
                "\u5883\u5916\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 0,
                "margin": 8,
                "interval": 0
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "01.01",
                "01.02",
                "01.03",
                "01.04",
                "01.05",
                "01.06",
                "01.07",
                "01.08",
                "01.09",
                "01.10",
                "01.11",
                "01.12",
                "01.13",
                "01.14",
                "01.15",
                "01.16",
                "01.17",
                "01.18",
                "01.19",
                "01.20"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e2d\u56fd\u8fd1\u65e5\u6570\u636e",
            "left": "6%",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 10,
        "end": 100,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_ea441f24795640a0b3bd4953eea62011.setOption(option_ea441f24795640a0b3bd4953eea62011);
    </script>
</body>
</html>
