<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="b85ab653797344e4890cb0c9ef393db1" class="chart-container" style="width:1300px; height:500px;"></div>
    <script>
        var chart_b85ab653797344e4890cb0c9ef393db1 = echarts.init(
            document.getElementById('b85ab653797344e4890cb0c9ef393db1'), 'light', {renderer: 'canvas'});
        var option_b85ab653797344e4890cb0c9ef393db1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u6cbb\u6108\u7387%",
            "legendHoverLink": true,
            "data": [
                31.84,
                90.49,
                77.83,
                48.59,
                93.68,
                88.39,
                94.79,
                97.76,
                94.56,
                93.18,
                91.94,
                96.25,
                98.63,
                95.9,
                98.5,
                97.39,
                99.12,
                97.93,
                97.4,
                99.42,
                98.13,
                98.85,
                98.82,
                93.38,
                96.49,
                99.89,
                99.69,
                100.0,
                98.64,
                98.9,
                100.0,
                100.0,
                99.4,
                100.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    },
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min"
                    },
                    {
                        "name": "\u5e73\u5747\u503c",
                        "type": "average"
                    }
                ]
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u6b7b\u4ea1\u7387%",
            "legendHoverLink": true,
            "data": [
                0.57,
                1.69,
                1.06,
                0.63,
                0.43,
                0.8,
                0.88,
                0.38,
                0.56,
                0.51,
                0.9,
                0.19,
                0.08,
                0.27,
                0.35,
                0.0,
                0.39,
                1.69,
                0.87,
                0.0,
                0.75,
                0.81,
                1.02,
                6.62,
                3.51,
                0.11,
                0.31,
                0.0,
                1.36,
                1.1,
                0.0,
                0.0,
                0.6,
                0.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    },
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min"
                    },
                    {
                        "name": "\u5e73\u5747\u503c",
                        "type": "average"
                    }
                ]
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6cbb\u6108\u7387%",
                "\u6b7b\u4ea1\u7387%"
            ],
            "selected": {
                "\u6cbb\u6108\u7387%": true,
                "\u6b7b\u4ea1\u7387%": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 0,
                "margin": 8,
                "interval": 0
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u6cb3\u5317",
                "\u9999\u6e2f",
                "\u9ed1\u9f99\u6c5f",
                "\u5409\u6797",
                "\u4e0a\u6d77",
                "\u53f0\u6e7e",
                "\u5317\u4eac",
                "\u5e7f\u4e1c",
                "\u9655\u897f",
                "\u8fbd\u5b81",
                "\u5929\u6d25",
                "\u798f\u5efa",
                "\u6d59\u6c5f",
                "\u5185\u8499\u53e4",
                "\u56db\u5ddd",
                "\u5c71\u897f",
                "\u6e56\u5357",
                "\u6cb3\u5357",
                "\u4e91\u5357",
                "\u6c5f\u82cf",
                "\u5e7f\u897f",
                "\u5c71\u4e1c",
                "\u91cd\u5e86",
                "\u6e56\u5317",
                "\u6d77\u5357",
                "\u6c5f\u897f",
                "\u65b0\u7586",
                "\u897f\u85cf",
                "\u8d35\u5dde",
                "\u7518\u8083",
                "\u9752\u6d77",
                "\u5b81\u590f",
                "\u5b89\u5fbd",
                "\u6fb3\u95e8"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5404\u7701\u6cbb\u6108\u60c5\u51b5",
            "left": "5%",
            "top": "0%",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 10,
        "end": 100,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_b85ab653797344e4890cb0c9ef393db1.setOption(option_b85ab653797344e4890cb0c9ef393db1);
    </script>
</body>
</html>
