<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main.css" rel="stylesheet">
</head>
<body style="align-items: center">
 <div id="title" style="position: absolute;top: 10%;font-size: 40px;width: 70%; display: flex;align-items: center;justify-content: center;">全国疫情大数据可视化</div>
    <div id="c1" style="position: absolute;top: 20%;font-size: 18px;width:70%;align-items: center;justify-content: center;">
        <div class="num"><h1>{{ data[0] }}</h1></div>
        <div class="num"><h1>{{ data[1] }}</h1></div>
        <div class="num"><h1>{{ data[2] }}</h1></div>
        <div class="num"><h1>{{ data[3] }}</h1></div>
        <div class="txt"><h2>累计确诊</h2></div>
        <div class="txt"><h2>累计治愈</h2></div>
        <div class="txt"><h2>累计死亡</h2></div>
        <div class="txt"><h2>现有确诊</h2></div>
    </div>
</body>
</html>